Package: firefox
Priority: optional
Section: utilities
Installed-Size: 153000
Maintainer: root
Architecture: i386
Version: 57.0.1
Depends: libc6, libgtk-3-0
Replaces: firefox-mozilla-build, firefox-esr, apulse
Conflicts: firefox-mozilla-build, firefox-esr
Description: Firefox from the beta update channel
 - Included apulse
 - Included preference: security.sandbox.content.write_path_whitelist set to /dev/snd/
 - This to make sound work by running: apulse /opt/firefox/firefox
 - No change required in about:config






